<h1 mat-dialog-title>Thêm nhà xuất bản</h1>

<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Tên nhà xuất bản</mat-label>
    <input matInput placeholder="Họ tên" [(ngModel)]="company.name" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Địa chỉ</mat-label>
    <input matInput placeholder="Địa chỉ" [(ngModel)]="company.address" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Địa chỉ" [(ngModel)]="company.email" />
  </mat-form-field>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="cancel()" color="warn">Huỷ bỏ</button>
  <button mat-button cdkFocusInitial (click)="agree()" color="primary">
    Xác nhận
  </button>
</div>
