
<div style="width: 400px;height: 230px;">
  <h1 mat-dialog-title>Cập nhật thể loại</h1>
  <div mat-dialog-content style="height: 130px;">

    <form [formGroup]="categoryForm" novalidate="false" (ngSubmit)="agree()">

      <mat-form-field appearance="outline">
        <mat-label>Tên thể loại</mat-label>
        <input matInput placeholder="Tên thể loại" formControlName="name" />
      </mat-form-field>
      <mat-slide-toggle formControlName="status">Hoạt động</mat-slide-toggle>

    </form>
  </div>

  <div mat-dialog-actions align="end">
    <button mat-button (click)="cancel()" color="warn">Huỷ bỏ</button>
    <button mat-button cdkFocusInitial (click)="agree()" color="primary">
      Xác nhận
    </button>
  </div>
</div>
