<div fxLayoutAlign="start center" class="header">
  <span style="font-size: 1.5rem; font-weight: 500">Thẻ mượn</span>
</div>

<div fxLayoutAlign="center center" class="content-container">
  <div fxFlex="97" class="content">

    <div fxLayout="row" fxLayoutAlign="space-between center" class="title">
      <div fxFlex=24 style="background-color: #00C292;" class="title-item">
        <h1>{{countBorrow.countBorrow}}</h1>
        <h2>Tổng số thẻ mượn</h2>
      </div>
      <div fxFlex=24 style="background-color: #1E88E5;" class="title-item">
        <h1>{{countBorrow.countBorrowActive}}</h1>
        <h2>Số thẻ đang mượn</h2>
      </div>
      <div fxFlex=24 style="background-color: #FEC107;" class="title-item">
        <h1>{{countBorrow.countBorrowProcess}}</h1>
        <h2>Số thẻ quá hạn</h2>
      </div>
      <div fxFlex=24 style="background-color: #FB9678;" class="title-item">
        <h1>{{countBorrow.countBorrowInActive}}</h1>
        <h2>Số thẻ khoá</h2>
      </div>
    </div>

    <button
      mat-raised-button
      style="background-color: #1e88e5; color: white; float: right"
      (click)="openCreateDialog()"
    >
      Thêm
    </button>
    <mat-form-field>
      <mat-label>Tìm kiếm</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>

    <table mat-table [dataSource]="borrowSource">

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element; let i = index">
          {{ i + paginator.pageIndex * paginator.pageSize + 1 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Trạng thái</th>
        <td mat-cell *matCellDef="let element">
          <mat-chip-list>
            <mat-chip *ngIf="element.status == 1" style="background-color: #1E88E5;" selected>Hoạt động</mat-chip>
            <mat-chip *ngIf="element.status == 2" style="background-color: #FEC107;" selected>Quá hạn</mat-chip>
            <mat-chip *ngIf="element.status == 0" style="background-color: #F44336;" selected>Khoá</mat-chip>
            <mat-chip *ngIf="element.status == 3" style="background-color: #00C292;" selected>Đã trả</mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>


      <ng-container matColumnDef="borrowName">
        <th mat-header-cell *matHeaderCellDef>Tên thẻ mượn</th>
        <td mat-cell *matCellDef="let element">{{ element.borrowName }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="readerId">
        <th mat-header-cell *matHeaderCellDef>Độc giả</th>
        <td mat-cell *matCellDef="let element">{{ element.readerName }}</td>
      </ng-container>



      <ng-container matColumnDef="borrowDate">
        <th mat-header-cell *matHeaderCellDef>Ngày mượn</th>
        <td mat-cell *matCellDef="let element">{{ element.borrowDate | date: 'dd-MM-yyyy hh:mm a' }}</td>
      </ng-container>

      <ng-container matColumnDef="payDate">
        <th mat-header-cell *matHeaderCellDef>Ngày trả</th>
        <td mat-cell *matCellDef="let element">{{ element.payDate | date: 'dd-MM-yyyy hh:mm a'}}</td>
      </ng-container>



      <!-- controls -->
      <ng-container matColumnDef="controls">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            color="warn"
            (click)="openconfirmDialog(element.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        (dblclick)="openUpdateAuthorDialog(row)"
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
